<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Application Name & Home Link -->
              <a class="navbar-brand" href="/">Factor</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- Inventory Menu -->
                <li {% if request.path == "/" %} class="active" {% endif %}><a href="/">Inventory</a></li>
                <!-- Receiving Menu -->
                <li {% if request.path == "/receiving" %} class="active" {% endif %}><a href="/receiving">Receiving</a></li>
                <!-- Admin Submenu -->
                <li {% if request.path == "/party" or request.path == "/character" or request.path == "/player" %} class="active dropdown" {% endif %} class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/party">Party</a></li>
                        <li><a href="/character">Characters</a></li>
                        <li><a href="/player">Players</a></li>
                    </ul>
                </li>
                <!-- Select Party Dropdown -->
                {% if party_menu %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Current Party: {{selected_party}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="select_party">
                        {% for party in party_list %}
                            <li><a href="/nav_select_party/{{party.id}}">{{party.party_name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            <!-- User Submenu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{current_user.first_name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">User List</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
