{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock styles%}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Coin Purse</a>
            </div>
        </div>
    </nav>
{% endblock navbar %} 

{% block content %}
    <div class="container">
        <!-- Page Header  -->
        <div class="row col-md-10">
            <h2 class="page-heaer">Signup</h2>
        </div>

        <!-- Signup Form  -->
        <div class="row col-md-offset-1 col-md-9">
            <form action="/signup" class="form-horizontal" method="post">
                {{ form.hidden_tag()}}
                <div class="form-group">
                    <label for="first_name" class="col-md-3 control-label">First Name</label>
                    <div class="col-md-4">
                        {{form.first_name(class="form-control", placeholder="first name")}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-4">
                        {{form.last_name(class="form-control", placeholder="last name")}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-4">
                        {{form.email(class="form-control", placeholder="someone@noplace.com")}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-4">
                        {{form.password(class="form-control", placeholder="password")}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="col-md-3 control-label">Confirm Password</label>
                    <div class="col-md-4">
                        {{form.confirm(class="form-control", placeholder="confirm password")}}
                    </div>
                </div>
                <div class="col-md-offset-7">
                    {{form.submit(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}