{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock styles%}

{% block content %}
<div class="container">
    <!-- Header  -->
    <div class="row col-md-10">
        <h1 id='page-header'>Parties</h1>
    </div>
    <br>

    <!-- Party List  -->
    <div class="row col-md-offset-1 col-md-8">
        <table class="table" id="PartyTable">
            <thead>
                <tr>
                    <th>Party Name</th>
                    <th>Active</th>
                    <th>Edit</th>                    
                </tr>
            </thead>
            <tbody>
                {% for party in party_list %}
                <tr>
                    <td>{{ party.party_name }}</td>
                    <td>
                        {% if party.is_active %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% endif %}
                        {% if party.is_active == false %}
                            <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="party/{{party.id}}" class="link" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Form  -->
    {% if mode == 'add' %}
        <div class="row col-md-offset-1 col-md-9">
            <h2>Add Party</h2>
            <form action="/party/add" class='form-horizontal' method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="party_name" class="col-md-3 control-label">Party Name</label>
                    <div class="col-md-6">
                        {{form.party_name(class="form-control", placeholder="Adventuring Inc.")}}
                    </div>
                </div>
                <div class="col-md-offset-9">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    {% endif %}

    <div class="row col-md-offset-3 col-md-6">
        <a href="party/add" class="link">Add Party</a>
    </div>
</div>
{% endblock content %}