{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock styles%}

{% block content %}
    <div class="container">
        <!-- Header -->
        <div class="row col-md-10">
            <h1 id="page_header">Receiving - Item List</h1>
        </div>
        <br>

        <!-- Button to Show Receiving Popup -->
        <div class="row col-md-8">
            <a href="/receiving/add" role="button" class="btn btn-primary" >Receive Items</a>
        </div>

        <!-- Received Items List  -->
        <div class="row col-md-offset-1 col-md-8">
            <h2>Received Items</h2>
            <table class="table" id="itemsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>Sale Value</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.item_name}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.value}}</td>
                            <td>{{item.saleValue}}</td>
                            <td>
                                <a href="receiving/{{item.id}}" title="Edit" class="link"><i class="glyphicon glyphicon-pencil"></i></a>
                                <button type="button" class="btn btn-danger" onclick="deleteItem(this)"><i class="gliphicon gliphicon-trashcan"></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock content %}