{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock styles%}

{% block content %}
    <div class="container">
        <!-- Header -->
        <div class="row col-md-10">
            <h1 id="page_header">Receiving Screen</h1>
        </div>
        <br>

        <!-- Received Items List  -->
        <div class="row col-md-offset-1 col-md-8">
            <table class="table" id="itemsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>SaleValue</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{received.name}}</td>
                        <td>{{received.type}}</td>
                        <td>{{received.quantity}}</td>
                        <td>{{received.value}}</td>
                        <td>{{received.saleValue}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="addItem()">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}