{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row col-md-offset-3 col-md-6">
        <h1>Parties</h1>
    </div>
    <br>
    <div class="row col-md-offset-3 col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Party Name</th>
                    <th>Active</th>
                    <th>Edit</th>                    
                </tr>
            </thead>
            <tbody>
                {% for party in parties %}
                <tr>
                    <td>{{ party.party_name }}</td>
                    <td>
                        {% if party.is_active %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% endif %}
                        {% if party.is_active == false %}
                            <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="party/{{party.id}}" class="link" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row col-md-offset-3 col-md-6">
        <a href="party/add" class="link">Add Party</a>
    </div>
</div>
{% endblock content %}