{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div class="row col-md-offset-3 col-md-6">
            Factor - Login
        </div>
        <div class="row col-md-offset-3 col-md-6">
            <form action="/login" method="POST">
                <dl>
                    {{ wtf.quck_form(form) }}
                    <input class="btn btn-primary" type="submit" value="Add User">
                </dl>
            </form>
        </div>
    </div>
{% endblock content %}