{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h2>User - Edit</h2>
            </div>
        </div>
        <div class="row col-md-offset-3 col-md-6">
            <form action="/user/{{user.id}}" method="POST" >
                <dl>
                    {{ wtf.quick_form(form) }}
                    <a href="/user" class="btn btn-secondary" role="button" aria-disabled="true" >Cancel</a>
                    <input name="submit_button" class="btn btn-primary" type="submit" value="Save User">
                </dl>
            </form>
        </div>
    </div>
{% endblock content %}